/* font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.bg-black {
  background-color: black;
}

.bg-black-faded {
	background-color: rgba(0, 0, 0, 0.3);
}

.banner-title {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.page-title,  {
	font-family: 'Raleway', sans-serif;
}

/* Header */
.profile-photo {
  height: 353px;
  width: 100%;
}

#home img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}

#home .skills-title {
	font-weight: bold;
}

#home .skills-box {
	border-bottom: 1px solid grey;
}

#home .skills-box:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#projects .card-deck .card:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 400px) {
	#header .social-icon {
		width: 30px;
		padding-left: 30px;
		padding-right: 30px;
	}

	#header .main-btn {
		width: 33.33%;
	}

	#header .fa-home {
		display: block;
	}

	#home .all-skills {
		margin-left: 15px;
		margin-right: 15px;
	}

	#projects .all-projects {
		margin-left: 15px;
		margin-right: 15px;
	}

	#projects h2 {
		font-size: 1.9rem;
	}

	#contact .all-contact {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	.profile-photo {
		height: 403px;
	}

	#home .all-skills {
		margin-left: 15px;
		margin-right: 15px;
	}

	#projects .all-projects {
		margin-left: 15px;
		margin-right: 15px;
	}

	#contact .all-contact {
		margin-left: 15px;
		margin-right: 15px;
	}

	#header .social-icon {
		display: block;
		padding: 2px;
	}
}